/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* Variables CSS  mas amplias*/
    --bg_header : #A4A1A1;
    --strok: #E98484;
    --primary: #EFB5B6;
    --font_principal: "Arial", sans-serif;
    --blanco: #ffff;
}
.site-header {
    background-color: var(--bg_header);
    border-bottom: 3px solid var(--strok);
    padding: 20px;
}
.site-header h1 {
}
.site-header .main-navegation {
}
.site-header .main-navegation .main-menu {
}
.site-header .main-navegation .main-menu .main-item {
}
.site-header .main-navegation .main-menu .main-item a {
    background-color: var(--blanco);
    padding: 20px 30px;
    display: inline-block;
}
.site-header .main-navegation .main-menu .main-item a:hover {
    background-color: var(--primary);
}